<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GCEinstances.info</title>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="gceInstances.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="js/gceInstances.js"></script>
</head>
<body ng-controller="Controller">



<section id="allContent" layout="row">

    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools" hide-gt-md ng-show="user">
                <md-button class="md-icon-button"  aria-label="Show Menu" ng-click="toggleSidenav()" >
                    <md-icon md-svg-icon="images/menu.svg"></md-icon>
                </md-button>
                <h3>
                    <span>GCEinstances.info</span>
                </h3>
            </div>
        </md-toolbar>

        <md-content class="filters" layout="column" layout-sm="column">
            <!--<form name="filters">-->
                <div layout="column" id="filterBar">
                    <!--<span class="selectLabel">Region:</span>-->
                    <md-select placeholder="Region" ng-model="regionFilter" ng-change="filterDataNToggle();">
                        <md-option ng-value="region" ng-repeat="region in regions">{{region}}</md-option>
                    </md-select>
                    <!--<span class="selectLabel">Family:</span>-->
                    <md-select class="selectFilter" placeholder="Family" ng-model="familyFilter" ng-change="filterDataNToggle();">
                        <md-option ng-value="family" ng-repeat="family in families">{{family}}</md-option>
                    </md-select>
                    <!--<span class="selectLabel">Cost:</span>-->
                    <md-select class="selectFilter" placeholder="Cost" ng-model="costFilter" ng-change="filterDataNToggle();">
                        <md-option ng-value="cost.name" ng-repeat="cost in costs">{{cost.name}}</md-option>
                    </md-select>
                    <md-input-container>
                        <label>Search...</label>
                        <input ng-model="searchText" ng-enter="toggleSidenav()">
                    </md-input-container>
                    <div layout="row">
                        <div flex offset="65">
                            <md-button class="md-raised md-primary resetButton" ng-click="resetFiltersNToggle();">Reset</md-button>
                        </div>
                    </div>
                </div>
            <!--</form>-->
        </md-content>
    </md-sidenav>

    <section layout="column" flex>
        <md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" hide-gt-md aria-label="Show Menu" ng-click="toggleSidenav()" ng-show="user">
                    <md-icon md-svg-icon="images/menu.svg"></md-icon>
                </md-button>
                <h3>
                    <span>GCEinstances.info</span>
                </h3>
            </div>
        </md-toolbar>

        <md-content id="data" flex>
            <div class="table-responsive-vertical shadow-z-1">
                <!-- Table starts here -->
                <table id="table" class="table table-mc-white table-hover table-bordered">
                    <thead>
                    <tr>
                        <th hide show-gt-md ng-class="centerColomnHead[col]" ng-repeat="(col, columnHead) in head" ng-click="orderByFunc(col);">
                            {{columnHead}}&nbsp;<i class="fa" ng-class="sortOrder[col]"></i>
                        </th>
                        <th hide-gt-md ng-class="centerColomnHead[col]" ng-repeat="(col, columnHead) in headMobile" ng-click="orderByFunc(col);">
                            {{columnHead}}&nbsp;<i class="fa" ng-class="sortOrder[col]"></i>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in filteredData | filter:searchText">
                            <td>{{row.instance_type}}</td>
                            <td hide show-gt-md>{{row.family}}</td>
                            <td class="centered">{{row.vCPU}}</td>
                            <td class="centered">{{row.memory}}</td>
                            <td hide show-gt-md class="centered">{{row.GECU}}</td>
                            <td>${{row.linux}}&nbsp;<span class='md-caption' hide show-gt-md>{{costFilter}}</span></td>
                            <td hide show-gt-md >${{row.windows}}&nbsp;<span class='md-caption'>{{costFilter}}</span></td>
                            <td hide show-gt-md>${{row.suse}}&nbsp;<span class='md-caption'>{{costFilter}}</span></td>
                            <td hide show-gt-md>${{row.rhel}}&nbsp;<span class='md-caption'>{{costFilter}}</span></td>
                            <td hide show-gt-md>${{row.preemptible}}&nbsp<span class='md-caption'>{{costFilter}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class='md-caption' layout-margin>This site was created out of inspiration of <a target="_blank" href="http://ec2instances.info">ec2instances.info</a>.
                It was started by <a target="_blank" href="mailto:vadim@doit-intl.com">Vadim Solovey</a> (mailto: vadim@doit-intl.com),
                contributed to by <a target="_blank" href="mailto:daniel@doit-intl.com">Daniel Rivkin</a>, is hosted on Google AppEngine, and awaits your improvements on
                <a target="_blank" href="https://github.com/doitintl/gceinstances">GitHub</a>.</div>
        </md-content>
    </section>
</section>

</body>
</html>